.land {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;           /* Makes it responsive */
  padding: 60px 80px;
}


.land h1{
    text-align: center;
    font-size: 30px;
}
.land span{
    color: red;
}
.land-action{
    display: flex;
    gap: 20px;
}
.land-connect{
    background: red;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 50px;
}

.my-resume{
   padding: 20px 60px;
   border-radius: 50px;
   border: 2px solid white;
}
.rotating-title {
  margin: 10px 0;
  color: #0a66c2;
  font-weight: 500;
  font-size: 1.5rem;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translateY(10px); }
  20%  { opacity: 1; transform: translateY(0); }
  80%  { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
