.contact-section {
  padding: 80px 60px;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-left: 180px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}



.contact-left,
.contact-right {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-left{
     display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-title {
  font-size: 32px;
}

.contact-left h3 {
  font-size: 20px;
}

.contact-left p {
  color: #ccc;
}

.contact-info p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #05a54a;
}

.social-media h4 {
  margin-top: 20px;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-circle {
  width: 40px;
  height: 40px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-circle:hover {
  background-color: #05a54a;
  color: black;
}



.contact-right label {
  font-weight: bold;
}

.contact-right input,
.contact-right textarea {
  background-color: #121212;
  color: white;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  width: 400px;
  transition: border 0.3s;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #05a54a;
}

.contact-right button {
  background-color: #05a54a;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-right button:hover {
  background-color: #049140;
}
