.contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 80px;
margin: 80px 170px;
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(264deg,#df8908,#b415ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p{
    max-width: 550px;
    color: orange;
    font-size: 20px;
    line-height: 35px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 3opx;
    font-size: 22px;
}

.contact-right{
display: flex;
flex-direction: column;
align-items: start;
gap: 30px;
}

.contact-right label{
    font-size: 22px;
    font-weight: 500;
    color: bisque;
}

.contact-right input{
    background: rgb(237, 203, 203);
    padding: 20px;
    color: black;
    border-radius: 4px;
}

.contact-right textarea{
    background: rgb(237, 203, 203);
    padding: 20px;
    width: 650px;
    color: black;
    border-radius: 4px;
}

.contact-submit{
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px 40px;
    font-size: 22px;
   background: linear-gradient(264deg,#df8908,#b415ff);
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}
