.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 50px;
  height: 60px;
}

.navbar p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-hire{
    padding: 20px 40px;
    border-radius: 50px;
    background: red;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-hire:hover{
    transform: scale(1.05);
}